@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=DM+Serif+Display&family=IBM+Plex+Serif:ital@1&display=swap');
@charset "UTF-8";

* {
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: IBM Plex Serif italic;
}

/***************************************************/
header img {
    width: 25%;
    height: auto;
    padding-right: 10px;
}

header {
    border-radius: 0 0 5px 5px;
    padding: 10px;

}

header,
footer {
    background-color: #9bb5c5;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    padding: 10 px;
    border: 1px solid #ABA230;
}

header,
main,
footer {

    max-width: 767px;
    margin: 0 auto;
}

h1 {
    font-size: 2rem;
    padding: 5px;
    grid-column: 2/3;
}

header p {
    margin-left: 10px;
    margin-top: 40px;
    display: grid;
    font-size: 1.20rem;

}

.social {
    margin-right: 1.7rem;
    display: flex;
    flex-direction: row;

}

.social svg {
    width: 25px;
    height: auto;

}

aside {
    display: float;
    flex-direction: column;
    justify-content: space-around;

    margin: 0.5rem;
    border: 1px solid rgb(68, 65, 65);
    padding: 0.75rem;
    background-color: rgb(179, 189, 90);
    border-radius: 5px;
    text-align: center;
}

h2 {
    text-align: left;
    color: #ABA230;
    background-color: #6a6e70;
    border: 1px solid white;
    margin: 10px;
    padding-left: 15px;
    padding-top: 15px;
    padding-right: 20px;
    padding-bottom: 80px;
    border-radius: 5px;
}

div.new-release {

    padding: 5px;
    text-align: left;
    color: #ABA230;
    background-color: #6a6e70;
    border: 1px solid white;
    margin-right: 5px;
    margin: 10px;
    border-radius: 5px;
}

h2.new-release {
    border: transparent;
}

p.new-release {
    font-size: 20px;
    padding: 10px;
    color: white;
    margin-top: -50px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

article.spotlights {
    min-width: none;
    background-color: #ca9d82;
    ;
    border: .25px solid white;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;

}

nav {

    background-color: #ca9d82;
    border-top: 1em solid white;
    border-bottom: 1em solid white;
    border-radius: 5px;
    justify-content: center;
}

nav a:hover {
    background-color: white;
    color: rgb(68, 65, 65);

}

nav ul li a {

    display: block;
    color: rgb(68, 65, 65);
    text-align: center;
    font-size: 20px;
    background: linear-gradient(90deg, transparent, white, transparent)top / var(--d, 0) 10px no-repeat;
    margin: .25em;
}

.active {
    color: white
}


.headings {
    display: flex;
    flex-direction: grid;

}

.headings h1 {
    font-size: 3rem;
    margin: 1em 1 1 1 17px;
}

.logo {
    display: flex;
    font-style: italic;
    letter-spacing: 1pt;
    margin-left: 20px;
    font-size: .9rem;
}

footer {
    align-items: center;
    padding: 20px;
    border-radius: 5px 5px 0 0;
}
