@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=DM+Serif+Display&family=IBM+Plex+Serif:ital@1&display=swap');
@charset "UTF-8";

* {
    padding: 0;
    box-sizing: border-box;
}

body {
    
    font-size: 16px;
    font-family: IBM Plex Serif italic;
}

/***************************************************/


header {
    background-color: #4fafec;
    border-radius: 0 0 5px 5px;
    padding: 10px;

}
.logo{
    width: 100%;
    display: block;
}

footer {
    
    background-color: #4fafec;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    padding: 10 px;
    border: 1px solid #022b18;
}

header,
main,
footer {
    
    margin: 0 auto;
}
main picture.lgImage{
    width: 90%;
    margin: 0 0 0 5%;
    
}
main picture.lgImage img{width: 100%;}
main picture.medImage{
    width: 30%;
    margin: 0 0 0 35%;
    
}
main picture.medImage img{width: 100%;}
main picture.medWideImage{
    width: 90%;
    margin: 0 0 0 5%;
    
}
main picture.medWideImage img{width: 100%;}
main picture.mediumImage{
    width: 50%;
    margin: 5% 0 0 25%;
    
}
main picture.mediumImage img{width: 100%;}

main picture.smallWideImage{
    width: 50%;
    margin: 5% 0 0 25%;
    
}
main picture.smallWideImage img{width: 100%;}

h1 {
    font-size: 1.5rem;
    padding: 5px;
    margin: 10px;
}

header p {
    margin-left: 10px;
    margin-right: 15px;
    margin-top: 0;
    font-size: 1rem;

}

.social {
    margin: auto;
    width: 50%;
    max-width: 34em;

}

.social svg {
    margin-left: 20px;
    margin-bottom: 20px;
    margin-top: -40px;
    float: right;
    width: 30px;
    height: auto;
    
}

aside {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    margin: 0.5rem;
    border: 1px solid #2b2b2b;
    padding: 0.75rem;
    background-color:#dec885;
    border-radius: 5px;
    text-align: center;
}
/*.menu, .page1, .page2, .page3, .page4, .clear{
    position: absolute;
    left: 45%;
    top: 35%;
    margin-top: 3px;
    margin-left: -7px;
    width: 22px;
    height: 3px;
    color:#022b18;
    background-color: #4fafec;
    transition: all 400ms cubic-bezier(.84,.06,.52,1.8);
}
.menu{
    transform: translateY(-8px);
    animation-delay: 100ms;
}
.page2{
    transform: translateY(8px);
    animation-delay:250ms;
}

.hamburger-icon{
    position: absolute;
    height: 50px;
    width: 50px;
    top: 35%;
    left: 2%;
    z-index: 1000;
    cursor: pointer;
    border-radius: 50%;
    transition: all 0.2s ease-in-out;
    background: #022b18;
    overflow: hidden;

}
&:hover{
    transform: scale(1.2);
    box-shadow: 0px 0px 30px rgba(0,0,0,0.1);
}
.menu.a{transform: rotate(40deg);

}
.page1.a{
    transform: rotate(40deg);
}
.page2.a{
    transform: rotate(40deg);
}
.page3.a{
    transform: rotate(-40deg);
}
.page4.a{
    transform: rotate(40deg);
}
.clear{
    clear: both;
}
@keyframes slideIn {
    0%{
        width: 0%;*/
        /*transform; scalse(.3);*/
        /*opacity: 0;
    }
    100%{
        width: 50%;
        /* transform:scale(1);*/
       /* opacity: 1;
    }
}*/
h2 {
    text-align: left;
    color:#4fafec;
    background-color: #6a6e70;
    border: 1px solid white;
    margin: 10px;
    padding-left: 15px;
    padding-top: 15px;
    padding-right: 20px;
    padding-bottom: 80px;
    border-radius: 5px;
}

div.new-release {
    padding: 5px;
    text-align: left;
    color: #4fafec;
    background-color: #6a6e70;
    border: 1px solid white;
    margin-right: 5px;
    margin: 10px;
    border-radius: 5px;
}
/*.join{
    
}*/
h2.new-release {
    border: transparent;
}

p.new-release {
    font-size: 20px;
    padding: 10px;
    color: white;
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.spotlights {
    
    background-color: #dec885;
    width: 100%;
    border: .25px solid white;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;

}
.spot1{
    display: flex;
    width: 100%;
    height: auto;

}
.spot2{
    display: flex;
    width: 100%;
    margin: 0 0 0 0;
    height: auto;

}

nav {
    margin: 0 auto;
    max-width: 760px;
    font-size: 35px;
    background-color: #022b18;
    border-top: 1em solid white;
    border-bottom: 1em solid white;
    border-radius: 5px;
    justify-content: center;
}
nav ul li a {
    display: block;
    color: #dec885;
    text-align: center;
    font-size: 35px;
    margin: .25em;
}

.headings {
    display: flex;
    flex-direction: grid;

}

.headings h1 {
    font-size: 3rem;
    margin: 1em 1 1 1 17px;
}

.logo {
    display: flex;
    font-style: italic;
    letter-spacing: 1pt;
    margin-left: 20px;
    font-size: .9rem;
}

footer {
    display: block;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 5px 5px 0 0;
}
h3{
    display: flex;
}
.log02{
    width: 10px;
}
.lastModified{
    justify-content: center;
    padding: .25em;
}