/* Larger viewports */
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=DM+Serif+Display&family=IBM+Plex+Serif:ital@1&display=swap');

@media only screen and (min-width: 60em) {

    header {
        width: 100%;
    }
    .logo{
        margin: auto;
        width: 50%;
    }

    header p{
        margin-top: 20px;
        font-size: 20px;
    }
    .social{ 
        margin: auto;
        width: 50%;
        
    }
    .social svg{
        margin-top: -25px;
        width: 45px;

    }


    main {
        max-width: 75%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        padding: 10px;
        margin: auto;
    }
    /*.leftColumn{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        
    }*/
    .leftColumn{
        font-size: 18px;
        grid-template-columns: 1fr;
    }

    .mightyMouse {
        display: grid;
        grid-column: 1/2;
    }
    .towtruck{
        margin: auto;
        justify-content: center;
    }

    .weather {
        display: grid;
        grid-column: 1/2;
        grid-row: 2/3;

    }

    .join {
        display: grid;
        grid-column: 1/2;
        grid-row: 3/4;
    }


    .hero {   
        color: black;
        font-size: 35px;
        align-items: center;
        display: grid;
        grid-column: 2/4;
        grid-row: 1/3;
        margin: 0;
    }
    .herodiv{
        position: relative;
        border: 1px white;
    }


    .heroPlaceHolder{
        margin: 20px auto;
        background-color: #eee;
        border: 1px solid #333;
        width: 960px;
        height: auto;
        width: auto;
        height: 250px;
    }
    main picture.lgImage{
        width: 90%;
        margin: 0 0 0 5%;
        
    }
    main picture.lgImage img{width: 100%;}
    .oldRock{
        width: 50%;
    }
    .callToAction{
        color: white;
        font-family: 'Open Sans' 10pt;
        position: absolute;
        justify-items: end;
        margin: -25% 10%;
        background: radial-gradient(#022b18, #11462d);
        border-radius: 30px;
        border: 1px solid gray;
        padding: .5rem;
        box-shadow: 0 0 30px #333;
        
    }
    .news-release{
        font-size: 35px;
        color: white;
        margin-bottom: 0;

    }
    .newrelease{
        color: white;
        border: none;
        
    }

    .new-release {
        display: grid;
        grid-column: 2/4;
        grid-row: 2/3;
    }

    .spotlights {
        display: grid;
        grid-template-columns: 1/2;
        grid-template-rows: 1/3;
        padding-right: 10px;
        padding-left: 10px;
    }

    .spot1 {
        display: grid;
        grid-column: 4/5;
        grid-row: 1/2;
        font-size: 16px;
    }

    .spot2 {
        display: grid;
        grid-column: 4/5;
        grid-row: 2/3;
        margin: 0 0 0 0;
    }

    .spot3 {
        display: grid;
        grid-column: 4/5;
        grid-row: 3/4;
    }
    

    footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .image2Logo {
        grid-column: 1fr/2fr;
        grid-row: 1;
        width: 30%
    }

    h3 {
        font-family: IBM Plex Serif italic;
        grid-column: 1fr/4fr;
        grid-row: 1;
    }

    .contactInfo {
        grid-column: 4/5;
    }

    .lastModified {
        margin-left: auto;
        text-align: center;
        justify-content: center;
        grid-column: 1/4;
        grid-row: 2;
        border-top: 1px solid white;
    }
}