/* Larger viewports */
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=DM+Serif+Display&family=IBM+Plex+Serif:ital@1&display=swap');

@media only screen and (min-width: 60em) {

    /*{max-width:960px;
    width:95%;
    margin: auto 0;
    object-fit: cover;}*/

    header {
        display: grid;
        grid-template-columns: 20% 20% 60%;
        justify-items: center;
        background-color: #4fafec;
        width: 100%;
        border-radius: 0 0 5px 5px;
    }
    .logo{
        width: 100%;
        display: block;
    }
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
    
    li {
    float: right;
    }

    li a {
    display: block;
    padding: 8px;
    background-color: #022b18;
    color: #dec885;
    }
    nav{
        background-color: #022b18;
        color: #dec885;
        font-size: 20px;
        width: 100%;
    }
    nav.menu.responsive{
        background-color: #022b18;
        color: #dec885;
        font-size: 20px;
        width: 80%;
    }
    nav ul li{
        background-color:#022b18; 
    }
    .social {
        width: 60%;
        margin-bottom: 30px;
        max-width: 34em;

    }

    .social svg {
        margin-right: 70px;
        margin-left: 10px;
        margin-bottom: 40px;
        margin-top: 40px;
        float: right;
        width: 30px;
        height: auto;
        
    }
    div.date{
        display: flex;
        width: 100%;
    }
    aside {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        height: 40%;
        margin: 0.5rem;
        border: 1px solid #2b2b2b;
        padding: 0.75rem;
        background-color:#dec885;
        border-radius: 5px;
        text-align: center;
    }

    main {
        max-width: 100%;
        display: grid;
        grid-template-columns: 20% 60% 20%;
        grid-template-rows: 1fr 1fr 1fr;
        padding: 10px;

    }

    .leftColumn{
        width: 100%;
        height: 100%;
        font-size: 18px;
    }
    img.oldRockSchool{
        height: 300px;
        width: 60%;
    }

    .mightyMouse {
        width: 100%;
        height: 100%;
        grid-gap: 10px;
        margin-bottom: 10px;
    }
    .towtruck{
        width: 70%;
        justify-content: left;
    }


    .weather {
        width: 100%;
        height: 100%;
        margin-top: -40px;
        grid-gap: 10px;
    }


    .join {
        grid-gap: 10px;
        width: 100%;
        height: 100%;
        margin-top: -20px;
    }
    .callToAction{
        color: white;
        position: absolute;
        margin: -85px 0 0 100px;
        background: radial-gradient(#022b18, #11462d);
        border-radius: 30px;
        border: 1px solid gray;
        padding-left: -5px;
        box-shadow: 0 0 30px #333;
        object-fit: cover;
    }
    .middleColumn{
        margin-left: 15%;
        margin: .5em 2em;
    }


    .hero { 
        grid-gap: 10px;  
        color: black;
        font-size: 35px;
        align-items: center;
        width: 100%;
        height: 250%;
        margin: 0;
    }
    .herodiv{
        position: relative;
        border: 1px white;
    }


    .oldRock{
        margin: 20px auto;
        background-color: #eee;
        border: 1px solid #333;
        width: 960px;
        height: auto;
        width: auto;
        height: 250px;
    }
    main picture.lgImage{
        width: 90%;
        margin: 0 0 0 5%;
        
    }
    main picture.lgImage img{width: 100%;}
    .oldRock{
        width: 50%;
    }
    .rightColumn{
        width: 100%;
        height: 100%;
        object-fit: cover;
        margin-right: 80px;
    }

    .spot1 {
        grid-gap: 10px;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .spot2 {
        padding: 0 0 0 0;
        grid-gap: 10px;
        width: 70%;
        height: 100%;
        object-fit: cover;
        
    }

    .spot3 {
        grid-gap: 10px;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    footer{
        display: flex;
        background-color: #4fafec;
        border-radius: 5px 5px 0 0;
        width: 100%;
        padding: 1rem;
    }
    

    h4 {
        font-family: IBM Plex Serif italic;
        justify-items: center;
        margin-left: 55px;
    }
    p{
        margin: 55px;
    }

    .contactInfo {
        justify-content: center;
        padding: 5px 55px 55px 55px;
    }

    .lastModified {
        display: block;
        margin-top: 100px;
        margin-left: auto;
        margin-right: 400px;
        text-align: left;
        justify-content: center;
        border-top: 1px solid white;
    }
    .business img:hover{
        opacity: .5;
        
    }
 
}