/* medium view chamber Index.html/home page*/

@media screen and (max-width: 900px) {
    *{  padding: 0;
        max-width: 900px;
        margin: 0;
        box-sizing: border-box;
    }
    main#directoryMain{
        background-color: gray;
        grid-column: 1/6;
        grid-row: 2/6;
        max-width: 960px;
        justify-content: center;
        text-align: center;
        margin: auto;
    }
    #hamburgerDirectory {
        justify-content: end;
        display: block;
        grid-row: 1/2;
        border: none;
        background-color: #022b18;
        color: #DEC885;
        border-radius: 5px;
        margin-top: -25px;
        width: 60px;
        height: 60px;
    }
    div.cardtable{
        display: block;
    }
    div#gallery{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 12fr;
        margin-bottom: 0px;
        margin-top: 0px;
    }
    main.home{
        background-color: white;
        grid-column: 1/3;
        grid-row:2/5;
        justify-content: center;
        text-align: center;
    }
    body{
        justify-content: center;
        margin:0;
    }
    header{
        background-color: #4fafec;
        grid-column: 1/-1;
        grid-row: 1/2;
    }
    #logo{
        grid-column: 1/2;
        grid-row: 1/2;
        margin: auto;
        height: auto;
        width: 65px;
        margin-top:-10px;
    }
    #heading{
        margin-left: 80px;
        font-size: x-large;
    }
    #headline{
        margin-left: 50px;
        margin-right: -25px;
        margin-top: 30px;
        padding: 25px;
        font-size: medium;
        grid-column: 3/4;
        grid-row:1/2;
    }
    img.oldRockSchoolDirectory{   
        margin: 0;
    }
    .nav, 
    .nav2, 
    .nav3, 
    .nav4{
        display: none;    
    }  
    section.facebookLinkedIn, section.facebookLinkedIn2, section.facebookLinkedIn3, section.facebookLinkedIn4{
        display: flex;
        justify-items: center;
        align-items: center;
        flex-direction: column;
        position: relative;
        width: 60px;
        margin-top: -65px;
        margin: 0 120px;
    }
    button#hamburger{
        justify-content: center;
        text-align: center
    }
    button#hamburger{
        justify-content: center;
        text-align: center
    }
    button#grid{
        grid-column: 1/2;
        grid-row: 1/2;
    }
    button#list{
        grid-column: 2/3;
        grid-row: 1/2;
    }
    #hamburger, #hamburger2, #hamburger3, #hamburger4{
        display: flex;
        grid-column: 3/5;
        grid-row: 1/2;
        border: none;
        background-color: #022b18 ;
        color:#DEC885;
        border-radius: 5px;
        width: 60px;
        height: 60px;
    }
    #aside{
        border:solid 1pt black;
        padding: 20px;
        justify-content: center;
        text-align: center;
        margin: 0;
        background-color: #DEC885;
    }
    #date{
        justify-content: center;
        text-align: center;
        color: black;
    }
    #wrapper{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 8fr;
    }
    .grid-column1{
        background-color: aqua;
        grid-column: 1/3;
        grid-row: 1/3;
        height: 110%;  
    }
    .grid-column1b{
        color: white;
        background-color: #022b18;
        grid-column: 1/3;
        grid-row: 3/4;
    }
    #column3{
        background-color: #dec885;
        display:grid;
        flex-flow: nowrap row;
    }
    div.grid-column1{
        padding: 0;
        height: 90%;
        grid-column: 1/2;
        grid-column: 2/3;
        background-image: url(../images/whiterock400.jpg)
    }
    .column3b{
        background-color: #DEC885;
        color: #aa0000;
        grid-column: 2/3;
        grid-row: 4/5;
        margin: 0 0 0 0;
        background-image: url(../images/dadandhisbrothers.jpg);
    }
    .column3c{
       width: 100%;
       background-color: #dec885;
       grid-column: 1/2;
       grid-row: 4/5;
       margin: 0;
       margin-bottom: -12px; 
    }
    .column3a{
        display: none;
    }
     #towtruck{
        margin: auto;
        width:25%;
        height: auto;
        background-color: yellowgreen;
    }
    div.grid-column2a{
        background-color:yellowgreen ;
        grid-column: 1/2;
        grid-row: 6/7;
    }
    .grid-column2b{
        background-color: #022b18;
        grid-column: 1/3;
        grid-row: 5/6;
    }
    #weatherIcon{
        justify-content: center;
        margin: 0;
        margin-top: -5px;
        border: none;
        width: 30%;
        height: auto;
    }
    div.grid-column2c{
        color: black;
        background-color:  #DEC885;
        grid-column: 2/3;
        grid-row: 6/7;
        margin-top: 0;
        margin-bottom:0;
        width: 80%;
        height: auto;
        margin-left: 20%;
    }
    
    #base{
        background-color: #4fafec;
    }
    .footer-box{
        display: inline-flex;
        max-width: 900px;
    }
    div.footline{
        display: block;
    }
    h5.footline{
        border:solid 1pt black;
        padding: 10px;
        justify-content: center;
        text-align: center;
        margin: 0;
        background-color: #DEC885;
        width: 100%;
    }
    /*DIRECTORY page CSS */
    
    
    h1#heading2{
        font-size: 35px;
        margin-left: 70px;
        margin-top: 40px;
    }
    button#hamburgerDirectory{
        margin-top: 5px;
    }
    
}
@media screen and (max-width: 900px) {
    button#hamburgerDirectory{
        margin-top: 5px;
    }
    main{
    background-color: gray;
    max-width: 900px;
    margin: 0;
    }
    button#grid{
    width: 45px;
    height: 45px;
    }
    button#list{
    width: 45px;
    height: 45px;
    }
    body{
    background-color: white;
    justify-content: center;
    justify-items: center;
    margin:auto;
    }
    .row::after {
    content: "";
    clear: both;
    display: table;
    }
    .img {
    display: grid;
    grid-template-columns: (minmax(300px, 1fr));
    }
    #cardsection{
    justify-content: center;
    text-align: center;
    display:block; 
    }
    div.cardsection{
    display: inline;
    border-radius: 1px 1px;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 9fr;
    }
  
    .cardsection {
    float: left;
    width: 33.33%;
    padding: 5px;
    margin: 15%;
    border: none;
    align-items: center;
    } 
    img.row{
    width: auto;
    max-width: 300px;
    box-shadow: 0 0 30px #777;
    height: 100px;
    border: 1px solid #333;
    } 
    footer {
      border-top: 1px solid #555;
      padding: 20px;
    }
}
/*DISCOVER page */
@media screen and (max-width: 900px) {
    
    #discoverMain{
        
        grid-column: 1/4;
        grid-row:2/5;
        max-width: 300px;
        justify-content: center;
        text-align: center;
        margin: auto;
    }
    div#headline3{
        display: inline-flex;
    }
    #wrapper3{
        display:grid;
        grid-template-columns: 5% 45% 45% 5%;
        grid-template-rows: 6fr;  
    }
    main#gallery{
        display: flex;
        flex-direction: column;
    }
    section.column1-onep1{
        grid-column: 1/2;
        grid-row: 1/2;
    }
    section.column1-onep2{
        grid-column: 2/3;
        grid-row: 1/2;
    }
    

    button#hamburgerDiscover{
        margin-top: 5px;
    }
    div#buttonDiscover{
        width: 60px;
        height: 60px;
        background-color: #022b18 ;
        color:#DEC885;
        border-radius:5px;
    }
    
    button{
        justify-content: center;
        text-align: center;
    }
    button#hamburger3{
        margin: 0;
        width: 44px;
        height: 44px;
        
    }
     
    #hamburgerDiscover{
        justify-content: end;
        display: block;
        grid-row: 1/2;
        border: none;
        background-color: #022b18 ;
        color:#DEC885;
        border-radius: 5px;
        margin-top: -15px;
        width: 44px;
        height: 44px;
    }
    div.baseline3{
        margin-right: -50px;
    }
h1#heading3{
    font-size: 30px;
    }
  }