@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=DM+Serif+Display&family=IBM+Plex+Serif:ital@1&display=swap');

@media only screen and (min-width: 32.5em) and (max-width: 59em){
    h1 {
        margin-left: 80px;
        font-size: 2.5rem;
    }
    header{
        width: 100%;
        
    }
    header p{
        margin-top: 20px;
        margin-left: 80px;
        margin-right: 30px;
        
    }
    .social{
        margin: auto;
        width: 50%;
        float: right;
    }
    .menu{
        display: flex;
    }
    .menu li{
        display: block; /* change state in small view */
        flex: 1 1 auto;
    }
    .menu.a {
        text-align: center;
    }
    .menu li:first-child {
        display: none;
    }
}
    nav a:hover {
        background-color: white;
        font-size: 45px;
    }

    nav ul {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 100%;
    }

    nav ul li {
        display: flex;
        margin: 0 10%;
        padding: 10px;
    }
    nav{
        display: block;
        margin: 8px 22px 8px 22px;
        background-color: #022b18;
        width: 100%;
        overflow: hidden;
        object-fit: cover;
    }


    nav a:hover {
        --d: 75%;
        background-color: #dec885;;
        color: #2b2b2b;
    }

    main {
        font-size: 20px;
        margin: 0;
    }
    main picture.lgImage{
        width: 90%;
        margin: 0 0 0 5%;
        
    }
    main picture.lgImage img{width: 100%;}

    article.nth-child {
        margin: 10px; 
        
    }

    .leftColumn{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr;
    }
    .nthChild{
        display: grid;

    }
   
    footer {
        display:flex}

    
    h3 {
        font-family: IBM Plex Serif italic;
    
    }

    .contactInfo {
        grid-column: 4/5;
    }

    .lastModified {
        margin-left: 50%;
        text-align: center;
        justify-content: center;
        grid-column: 1/4;
        grid-row: 2;
        border-top: 1px solid white;
    }
    .pic{
        display:flex;
        justify-content: center;
        align-items: center;
        padding: 3em;
    }
    img:hover{
        opacity: .5;   
    }