@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=DM+Serif+Display&family=IBM+Plex+Serif:ital@1&display=swap');

@media only screen and (min-width: 32.5em) and (max-width: 59em){
    *{  max-width:960px;
    width:95%;
    margin:5px auto;
}
/* index2.html css Medium view*/
@media screen and (max-width: 900px) {
    main{
    background-color: gray;
    grid-column: 2/5;
    grid-row:2/5;
    max-width: 960px;
    justify-content: center;
    text-align: center;
    margin: auto;
}
body{
    justify-content: left;
    margin:0;
}
#wrapper{
    display: grid;
    /* grid-template-columns: minmax(4, 1fr) repeat(1fr 1fr) minmax(0px, 1fr); */
    /* grid-template-areas: */
    /* "a a b b" */
    /* "c c c c" */
    /* "d d e e" */
    /* "f f f f" */
    /* "g g g h" */
    /* "i i i j" */


}
header{
    background-color: #4fafec;
    /* grid-area:a; */
}
#logo{
    /* grid-area: a; */
    margin: auto;

}
#headline{
    grid-column: 2/3;
    grid-row:1/2;

}   
#base{
    justify-content: center;
    text-align: center;
    grid-row: 4/5;
    display: flex;
    background-color: #4fafec;
}
.footer-box{
    display: inline-flex;
    max-width: 960px;
}

h5.footline{
    display: block;
    flex-wrap: wrap;
    margin-top: 25px;
}
    
}
/* End index2.html css Medium view */


h1 {
    margin-left: 80px;
    font-size: 2.5rem;
}
header {
    display: grid;
    grid-template-columns: 20% 20% 60%;
    justify-items: center;
    background-color: #4fafec;
    width: 100%;
    border-radius: 0 0 5px 5px;
    padding: 1rem;

}
.logo{
    width: 100%;
    display: block;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    }
    
    li {
    float: right;
    }
    
    li a {
    display: block;
    padding: 8px;
    background-color: #022b18;
    color: #dec885;
    }
nav{
    background-color: #022b18;
    color: #dec885;
    font-size: 20px;
    width: 100%;
}
nav.menu.responsive{
    background-color: #022b18;
    color: #dec885;
    font-size: 20px;
    width: 80%;
}
nav ul li{
    background-color:#022b18; 
}
.social {
    width: 60%;
    margin-bottom: 30px;
    max-width: 34em;

}

.social svg {
    margin-right: 70px;
    margin-left: 10px;
    margin-bottom: 40px;
    margin-top: 40px;
    float: right;
    width: 30px;
    height: auto;
    
}
div.date{
    display: flex;
    width: 100%;
}
aside {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 40%;
    margin: 0.5rem;
    border: 1px solid #2b2b2b;
    padding: 0.75rem;
    background-color:#dec885;
    border-radius: 5px;
    text-align: center;
}
.menu{
    display: flex;
}
.menu li{
    display: block; /* change state in small view */
    flex: 1 1 auto;
}
.menu.a {
    text-align: center;
}
.menu li:first-child {
    display: none;
}
}
nav a:hover {
    background-color: white;
    font-size: 45px;
}
nav ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
}
nav ul li {
    display: flex;
    margin: 0 10%;
    padding: 10px;
}
nav{
    display: block;
    margin: 8px 22px 8px 22px;
    background-color: #022b18;
    width: 100%;
    overflow: hidden;
    object-fit: cover;
}
nav a:hover {
    --d: 75%;
    background-color: #dec885;;
    color: #2b2b2b;
}

main {
    font-size: 20px;
    margin: 0;
}
main picture.lgImage{
    width: 90%;
    margin: 0 0 0 5%;
    
}
main picture.lgImage img{width: 100%;}

article.nth-child {
    margin: 10px; 
    
}

.leftColumn{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
}
.nthChild{
    display: grid;

} 
h3 {
    font-family: IBM Plex Serif italic;

}


.lastModified {
    margin-left: 50%;
    text-align: center;
    justify-content: center;
    grid-column: 1/4;
    grid-row: 2;
    border-top: 1px solid white;
}
.pic{
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 3em;
}
img:hover{
    opacity: .5;   
}
footer{
    display: flex;
    background-color: #4fafec;
    border-radius: 5px 5px 0 0;
    width: 100%;
    padding: 1rem;
}