/* On screens that are 992px or more, set the background color to pink */
/* fonts for this site:
Headings:  font-family: 'Oswald', sans-serif;
Paragraphs:  font-family: 'Roboto', sans-serif; */
@media (min-width: 992px){
    body{
        background-color:white;
        display: grid;
        margin: 5px;
        
    }
    *{  justify-content: center;
        text-align: center;
        box-sizing: border-box;
        /* margin: auto;  */
    }
    header#grid{
        background-color: #546089;
        color: #bfa68f;
        max-width: 100%;
        grid-column: 1/6;
        grid-row: 1/2;
        margin:  0 -5px;
    }
    
    aside#aside {
        color: #283959;
        grid-column: 1/5;
        grid-row:2/3;
        max-width: 100%;
        margin: auto;
        border: 1px solid #283959;
        background-color: #ffffe3;
        text-align: center;
        padding: 1px;
    }
    #logo {
        grid-row: 1/2;
        grid-column: 2/3;  
    }
    div#innheading{
        display: flex;
        margin-top: 30px;
    }
    img#logo{
        grid-column: 2/3;
        grid-row: 1/2;
        width: auto;
        border-radius: 15px;
        box-shadow: gray;
        padding: 0 10px;
        max-height: 130px;
        margin-top: -30px;
        border: none;
        
    }
    h1.home{
        justify-content: center;
        text-align: center;
        font-size: 55px;
        padding: 10px;
    }
    .headline{   
        margin: 0 50px;
    }
    #wrapper#heading a{
        display: flex;
        font-size: 50px;
        margin-left: 70px;
    }
    #heading a{
        display: flex;
        flex-direction: row;
        width: 30px;
        height: 30px;
    }
    div.facebooklinkedin{    
        grid-column: 4/5;
        grid-row: 1/2;
        position: relative;
        min-width: 44px;
        margin-left: 3%;
    }
    a#background, a#layer1{ 
        width: 44px;
    }
    button#buttonhome{
        margin: 0;
        width: 44px;
        height: 44px; 
    }
    button#hamburgerhome{
        display: none;
        grid-row: 1/2;
        border: solid #818783;
        background-color: #ffffe3;
        color: #283959;
        font-size: 10px;
        border-radius: 5px;
        padding: 1px;
        width: 35px;
        max-height: 35px;
    }
    nav ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    nav ul li a{
        display: block;
        padding: .8rem 2vw;
        text-decoration: none;
        color: #283959; 
    }
    h1, h2, h3, h4, h5, h6{
        font-family: 'Oswald', sans-serif;
    }
    p{
        font-family: 'Roboto', sans-serif;
        font-style: italic;
        font-weight: 400;
    }
    li a{
        font-size: 30px;
    }
    nav ul li.active a{
        background-color: rgba(255, 255, 227, 0.5);
        color: #546089;
    }
    nav ul li a:hover{
        background-color: #283959;
        color: #ffffe3;
    }
    nav ul {display: inline-flex;}
    nav ul.open {display: inline-flex;}
    #hamburgerhome span:nth-child(1){display: inline-flex;}
    #hamburgerhome span:nth-child(2){display: inline-flex;}
    
    #hamburgerhome.open span:nth-child(1){display:inline-flex;}
    #hamburgerhome.open span:nth-child(2){display:inline-flex;}

    nav#menu{
        font-family: 'Oswald', sans-serif;
        background-color: #bfa68f;
    }
    nav#navmenu{
        grid-column: 1/4;
        grid-row: 2/3;
        background-color: #bfa68f;
    }
    ul#primarynav.navmenu{
        display: inline-flex;
        padding: 0;
    }
    nav li{
        
        margin: 5px;
        text-decoration: none;
    }
    ul li.navitem{
        padding: 5px;
        justify-content: center;
        text-align: center;
        display: inline-flex;
    }
    nav a :hover{
        color: #ffffe3;
        background-color: #283959;
    }

    main{
        background-color: white;
    }

    h2.weddingheader{
        grid-column: 1/5;
        grid-row: 2/3;
        font-size: 28px;
        color: #283959;
    }
    div.row2{
        display: grid;
        grid-template-columns: 20% 10% 20% 20% 10% 20%;
        grid-row: auto;
        border-radius: 20px 20px 20px 20px;
    }
    button.calltoaction{
        background-color: #bfa68f;
        border-radius: 8px;
        border: gray;
        padding: 8px;
        max-height: 30px;
        position: relative;
    }
    section.column2-4a{
        justify-content: center;
        text-align: center;
        padding: 0 200px 100px;
        grid-column: 2/6;
        grid-row: 1/2;
        min-width: 90%;
        min-height: 90%;
        background-image: url(../templeImages/panoTemple.jpg) /*alt="wedding couple in front of LDS temple"*/;
        border: solid 3px #818783;
        border-radius: 20px;
    }
    section.column2-4b{
        color: #283959;
        padding: 0 60px 120px 0;
        margin-top: 60px;
        max-width: 100%;
        max-height: 68%;
        grid-column: 2/4;
        grid-row: 2/4;
        background-image: url(../templeImages/templeyouth.jpg) /*alt="yw & ym on LDS treck with hand carts"*/;
        border: solid 3px #818783;
        border-radius: 20px;
    }
    section.column2c-row4{
        margin-top: 20px;
        margin-bottom: -50px;
        font-size: 20px;
        grid-column: 2/6;  
        grid-row: 4/5;    
        padding: 8px;
        max-width: 90%;
        min-height: 10%;
        color:#283959;
        background-color: #ffffe3;
        border: solid 1px #818783;
        border-radius: 20px;
    }
    section.column2-4d{
        color: #283959;
        justify-content: center;
        text-align: center;
        padding: 0 80px 100px ;
        grid-column: 4/6;
        grid-row: 2/3;
        margin: 5px;
        min-width: 90%;
        max-height: 75%;
        background-image: url(../templeimages/singleseniors400x239.jpg) /*alt="Single Woman speaking with a Senior Woman"*/;
        border: solid 3px #818783;
        border-radius: 20px;
    }
    section.column2-4e{
        color: #283959;
        justify-content: center;
        text-align: center;
        padding: 0 70px 100px 0;
        grid-column: 4/6;
        grid-row: 3/4;
        max-height: 95%;
        width: 95%;
        margin: 5px;
        background-image: url(../templeimages/familysilhouette400x200.jpg) /*alt="couple with 3 children silhouette"*/;
        border: solid 3px #818783;
        border-radius: 20px;
    }
    div#flexwrap{
        display:grid;
        grid-column: 2/6;
        grid-row: 5/6;
        grid-gap: 20px;
    }
    section.weather{
        grid-column: 2/3;
        grid-row: 5/6;
        border: solid 3px #283959;
        border-radius: 20px;
        margin-top: 15px;
        margin-left: -30px;
        margin-bottom: 10px;
        padding: 5px;
        background-color: #546089;
        color:#bfa68f;
    }
    section.weatherdetails1{
        grid-column: 3/4;
        grid-row: 5/6;
        border: solid 3px #283959;
        border-radius: 20px;
        margin-top: 15px;
        min-width: 180px;
        min-height: 160px;
        background-color: #546089;
        color:#bfa68f;
    }
    section.weatherdetails2{
        border: solid 3px #283959;
        border-radius: 20px;
        margin-top: 15px;
        min-width: 170px;
        min-height: 160px;
        grid-column: 4/5;
        grid-row: 5/6;
        background-color: #546089;
        color:#bfa68f;
    }
    section.weatherdetails3{
        justify-content: center;
        text-align: center;
        grid-column: 5/6;
        grid-row: 5/6;
        border: solid 3px #283959;
        border-radius: 20px;
        margin-top: 15px;
        min-width: 170px;
        min-height: 160px;
        background-color: #546089;
        color:#bfa68f;
    }
    button#movecurrentdateandday{
        background-color: #bfa68f;
        color: #283959;
        border-radius: 3px;
        padding: 1px;
    }
    button#collapseweather{
        background-color: #bfa68f;
        color: #283959;
        border-radius: 3px;
        padding: 1px;
    }
    footer{
        grid-column: 1/6;
        grid-row: 9/10;
        background-color: #ffffe3;
        border: 1px solid #818783;
        padding: 20px;
        margin: 0 0 0 0;
    }  
    /* TEMPLES PAGE CSS */
    /* large view */

  
  


}

