/* On screens that are 992px or less, set the background color to blue */
/* fonts for this site:
 font-family: 'Oswald', sans-serif;
font-family: 'Roboto', sans-serif; */
@media (min-width: 601px) and (max-width: 992px) {
    body{
        background-color:white;
        
        margin: auto;
    }
    *{  max-width: 992px;
        justify-content: center;
        text-align: center;
        padding: 0;
        box-sizing: border-box;
        margin: 5px; 
    }
    h1, h2, h3, h4, h5, h6{
        font-family: 'Oswald', sans-serif;;
    }
    p{
        font-style: italic;
        font-weight: 400;
        font-family: 'Roboto', sans-serif;
    }
    header#grid{
        display: block;
        background-color: #546089;
        color: #bfa68f;
        grid-column: 1/6;
        grid-row: 1/2;
        margin:  -5px;
    }
    aside#aside {
        color: #283959;
        grid-column: 1/5;
        grid-row:2/3;
        max-width: 100%;
        margin: auto;
        border: 1px solid #283959;
        background-color: #ffffe3;
        text-align: center;
        padding: 1px;
    }
    #logo {
        grid-row: 1/2;
        grid-column: 2/3;  
    }
    div#innheading{  
        display: flex;
        margin-top: 30px;
    }
    img#logo{
        grid-column: 2/3;
        grid-row: 1/2;
        width: auto;
        border-radius: 15px;
        box-shadow: gray;
        padding: 0 10px;
        height: 80px;
        margin-top: -15px;
    }
    h1.home{
        justify-content: center;
        text-align: center;
        font-size: 35px;
        padding: 10px;
    }
    .headline{   
        margin: 0 50px;
    }
    #wrapper#heading a{
        font-size: 50px;
        margin-left: 70px;
    }
    #heading a{
        display: flex;
        flex-direction: row;
        width: 40px;
        height: 30px;
    }
    div.facebooklinkedin{    
        grid-column: 4/5;
        grid-row: 1/2;
        position: relative;
        min-width: 44px;
        margin-left: 3%;
        margin-top: 30px;
    }
    
    button#buttonHome{
        margin: 0;
        width: 44px;
        height: 44px; 
    }
    /* button#hamburgerhome{
        justify-content: end;
        display: block;
        grid-row: 1/2;
        border: solid #818783;
        background-color: #ffffe3;
        color: #283959;
        font-size: 10px;
        border-radius: 5px;
        padding: 1px;
        width: 44px;
        height: 44px;
    } */
    
    nav button{display: none}
    nav li{
        font-size: 28px;
        margin: 5px;
        text-decoration: none;
    }
    nav ul#primarynav{
        display: flex;
        justify-content: center;
        margin-left: 2vw;
        border-right: 1px solid rgba(40, 57, 89, 0.3);
    }
    nav ul{
        display: none;
    }
    nav ul.open{
        display: block;
    }
    nav ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    nav ul li a{
        display: block;
        padding: .8rem 2vw;
        text-decoration: none;
        color: #283959;
        border: none;
    }
    nav ul li.active a{
        background-color: rgba(255, 255, 227, 0.5);
        color: #546089;
    }
    nav ul li a:hover{
        background-color: #283959;
        color: #ffffe3;
    }
    /* nav ul {display: none;}
    nav ul.open {display: block;}
    #hamburgerhome span:nth-child(1){display: block;}
    #hamburgerhome span:nth-child(2){display: none;}
    
    #hamburgerhome.open span:nth-child(1){display:none;}
    #hamburgerhome.open span:nth-child(2){display:block;} */

    nav#menu{
        font-family: 'Oswald', sans-serif;;
        background-color: #bfa68f;
    }
    nav#navmenu{
        grid-column: 1/4;
        grid-row: 2/3;
        background-color: #bfa68f;
    }
    li.navitem{
        padding: 10px;
        justify-content: center;
        text-align: center;
        display: inline-flex;
    }
    li a{
        font-size: 24px;
    }
    main{
        background-color: white;
    }
    
    h2.weddingheader{
        grid-column: 1/5;
        grid-row: 2/3;
        font-size: large;
        color: #283959;
    }
    div.row2{
        display: grid;
        grid-template-columns: 20% 20% 20% 20% 20%;
        grid-row: auto;
        border-radius: 20px 20px 20px 20px;
    }
    button.calltoaction{
        background-color: #bfa68f;
        border-radius: 8px;
        border: gray;
        padding: 8px;
        position: relative;
    }
    section.column2-4a{
        
        justify-content: center;
        text-align: center;
        padding: 0 100px 200px;
        grid-column: 2/5;
        grid-row: 1/2;
        min-width: 100%;
        min-height: 90%;
        background-image: url(../templeimages/panotemple.jpg) /*alt="wedding couple in front of LDS temple"*/;
        border: solid 3px #818783;
        border-radius: 20px;
    }
    section.column2-4b{
        color: #283959;
        justify-content: center;
        text-align: center;
        padding: 0 100px 150px 0;
        max-width: 100%;
        overflow-wrap: break-word;
        grid-column: 2/5;
        grid-row: 7/9;
        background-image: url(../templeimages/templeyouth.jpg) /*alt="yw & ym on LDS treck with hand carts"*/;
        border: solid 3px #818783;
        border-radius: 20px;
    }
    section.column2c-row4{
        position: relative;
        font-size: 18px;
        grid-column: 4/5;  
        grid-row: 2/4;    
        padding: 8px;
        min-width: 100%;
        color:#283959;
        background-color: #ffffe3;
        border: solid 1px #818783;
        border-radius: 20px;
    }
    section.column2-4d{
        color: #283959;
        justify-content: center;
        text-align: center;
        padding: 0 80px 100px ;
        grid-column: 2/4;
        grid-row: 2/3;
        margin: 15px;
        min-width: 90%;
        max-height: 100%;
        background-image: url(../templeimages/singleseniors500x299.jpg) /*alt="Single Woman speaking with a Senior Woman"*/;
        border: solid 3px #818783;
        border-radius: 20px;
    }
    section.column2-4e{
        color: #283959;
        justify-content: center;
        text-align: center;
        padding: 0 70px 100px 0;
        margin: 5px;
        grid-column: 2/4;
        grid-row: 3/4;
        min-height: 95%;
        width: 95%;
        background-image: url(../templeimages/familysilhouette325x163.jpg) /*alt="couple with 3 children silhouette"*/;
        border: solid 3px #818783;
        border-radius: 20px;
    }
    div#flexwrap{
        grid-column: 2/5;
        grid-row: 4/5;
    }
    section.weather{
        grid-column: 2/4;
        border: solid 3px #283959;
        border-radius: 20px;
        margin-top: 15px;
        padding: 5px;
        background-color: #546089;
        color:#bfa68f;
    }
    section.weatherdetails1{
        grid-column: 2/5;
        border: solid 3px #283959;
        border-radius: 20px;
        margin-top: 15px;
        background-color: #546089;
        color:#bfa68f;
    }
    section.weatherdetails2{
        border: solid 3px #283959;
        border-radius: 20px;
        margin-top: 15px;
        grid-column: 2/5;
        background-color: #546089;
        color:#bfa68f;
    }
    section.weatherdetails3{
        justify-content: center;
        text-align: center;
        grid-column: 2/5;
        border: solid 3px #283959;
        border-radius: 20px;
        margin-top: 15px;
        background-color: #546089;
        color:#bfa68f;
    }
    button#movecurrentdateandday{
        background-color: #bfa68f;
        color: #283959;
        border-radius: 3px;
        padding: 1px;
    }
    button#collapseweather{
        background-color: #bfa68f;
        color: #283959;
        border-radius: 3px;
        padding: 1px;
    }
    footer{
        grid-column: 1/6;
        grid-row: 9/10;
        background-color: #ffffe3;
        border: 1px solid #818783;
        padding: 20px;
        margin: 0 0 0 0;
    }  
    /* TEMPLES PAGE MEDIUM  */
    
}
