/* head and header settings for RESERVATIONS PAGE */
/* fonts for this site:
Headings:  font-family: 'Oswald', sans-serif;
Paragraphs:  font-family: 'Roboto', sans-serif; */
*{
    margin: auto;
}

form fieldset {
    font-family: 'Oswald', sans-serif;
    margin: 2rem 0;
    border: 3px solid #818783;
    border-radius: 20px;
    padding: .5rem 2%;
    box-shadow: 0 0 30px #546085;
}

form legend {
    color: #bfa68f;
    font-size: 35px;
    margin: 0 1rem;
    padding: 0.5rem;
}

form label.top,
form div {
    justify-content: left;
    text-align: left;
    background-color: #ffffe3;
    display: block;
    padding-top: 1rem;
    color: #283959;
}

form label.top input,
form label.top select {

    display: block;
    font-size: 1rem;
    border: solid 2px #546085;
    border-radius: 4px;
    padding: .75rem;
    width: 100%;
    max-width: 20rem;
}
/* -----middle section for form on RESERVATIONS PAGE */
form label.size{
    display: block;
    padding: .75rem 0;
    color: #546089;
}
form input.sumitBtn{
    border: none;
    background-color: #546089;
    color: #ffffe3;
    border-radius: 1rem;
    padding:.75rem, 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;    
    }
form label.top input:required{
        border-left: red solid 6px;
}
form label.top input:required:valid{
    border-left: green solid 6px;
}
@media (min-width: 993px) {
    body#wrapper3 {
        
        display: grid;
        grid-template-columns: 20% 60% 20%;
        font-family: 'Oswald', sans-serif;
    }   

    header#grid {
        background-color: #546089;
        color: #bfa68f;
        max-width: 100%;
        grid-column: 1/6;
        grid-row: 1/2;
        margin: 0 -5px;
    }

    aside#aside {
        color: #283959;
        font-family: 'Roboto', sans-serif;
        ;
        grid-column: 1/5;
        grid-row: auto;
        max-width: 100%;
        margin: 0;
        border: 1px solid #283959;
        background-color: #ffffe3;
        text-align: center;
        padding: 1px;
    }

    #logo {
        grid-row: 1/2;
        grid-column: 2/3;
    }

    div#innheading {
        display: flex;
        margin-top: 30px;
    }

    img#logo {
        grid-column: 2/3;
        grid-row: 1/2;
        width: auto;
        border-radius: 15px;
        box-shadow: gray;
        padding: 0 10px;
        max-height: 130px;
        margin-top: -30px;
        border: none;

    }

    h1.home {
        justify-content: center;
        text-align: center;
        font-size: 55px;
        padding: 10px;
    }

    .headline {
        margin: 0 50px;
    }


    #heading a {
        display: flex;
        flex-direction: row;
        width: 30px;
        height: 30px;
    }

    div.facebooklinkedin {
        grid-column: 4/5;
        grid-row: 1/2;
        position: relative;
        min-width: 44px;
        margin-left: 3%;
    }

    a#background,
    a#layer1 {
        width: 44px;
    }

    button#buttonhome {
        margin: 0;
        width: 44px;
        height: 44px;
    }

    button#hamburgerhome {
        display: none;
        grid-row: 1/2;
        border: solid #818783;
        background-color: #ffffe3;
        color: #283959;
        font-size: 10px;
        border-radius: 5px;
        padding: 1px;
        width: 35px;
        max-height: 35px;
    }

    nav ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    nav ul li a {
        display: block;
        padding: .8rem 2vw;
        text-decoration: none;
        color: #283959;

    }

    li a {
        font-size: 30px;
    }

    nav ul li.active a {
        background-color: rgba(255, 255, 227, 0.5);
        color: #546089;
    }

    nav ul li a:hover {
        background-color: #283959;
        color: #ffffe3;
    }

    

    nav#menu {
        background-color: #bfa68f;
    }

    nav#navmenu {
        grid-column: 1/4;
        grid-row: 2/3;
        background-color: #bfa68f;
    }

    ul#primarynav.navmenu {
        display: inline-flex;
        padding: 0;
    }

    nav li {

        margin: 5px;
        text-decoration: none;
    }
    ul li.navitem {
        padding: 5px;
        justify-content: center;
        text-align: center;
        display: inline-flex;
    }
    nav a :hover {
        color: #ffffe3;
        background-color: #283959;
    }
    main {
        background-color: rgba(84, 96, 137 0.1);
        grid-column: 2/3;
        margin-top: 48px;
        padding: 0 2%;
        min-height: 20rem;
    }
    form fieldset {
        font-family: 'Oswald', sans-serif;
        margin: 2rem 0;
        border: 3px solid #818783;
        border-radius: 20px;
        padding: .5rem 2%;
        box-shadow: 0 0 30px #546089;
    }
    form legend {
        color: #bfa68f;
        font-size: 35px;
        margin: 0 1rem;
        padding: 0.5rem;
    }
    form label.top,
    form div {
        justify-content: left;
        text-align: left;
        background-color: #ffffe3;
        display: block;
        padding-top: 1rem;
        color: #283959;
    }
    
    form label.top input,
    form label.top select {
        display: block;
        font-size: 1rem;
        border: solid 2px #546085;
        border-radius: 4px;
        padding: .75rem;
        width: 100%;
        max-width: 20rem;
    }
    label#submitButton input{
        background-color: #283959;
        border:rgb(84, 96, 137);
        color: #ffffe3;
        padding: 20px;
        border-radius: 20px;
    }
}
@media (min-width: 601px) and (max-width: 992){
    body#wrapper3{
        margin-left: 70px;
        display: grid;
        grid-template-columns: 20% 60% 20%;
        font-family: 'Oswald', sans-serif;
        background-color:white;  
    }
    *{  max-width: 992px;
        justify-content: center;
        text-align: center;
        padding: 0;
        box-sizing: border-box;
        margin: 5px; 
    }
    header#grid{
        font-family: 'Oswald', sans-serif;
        display: block;
        background-color: #546089;
        color: #bfa68f;
        grid-column: 1/6;
        grid-row: 1/2;
        margin:  -5px;
    }
    main{
        background-color: white;
    }
    aside#aside {
        color: #283959;
        grid-column: 1/5;
        grid-row: auto;
        max-width: 100%;
        margin: auto;
        border: 1px solid #283959;
        background-color: #ffffe3;
        text-align: center;
        padding: 1px;
    }
    #logo {
        grid-row: 1/2;
        grid-column: 2/3;  
    }
    div#innheading{  
        display: flex;
        margin-top: 30px;
    }
    img#logo{
        grid-column: 2/3;
        grid-row: 1/2;
        width: auto;
        border-radius: 15px;
        box-shadow: gray;
        padding: 0 10px;
        height: 80px;
        margin-top: -15px;
    }
    h1.home{
        font-family: 'Oswald', sans-serif;
        justify-content: center;
        text-align: center;
        font-size: 35px;
        padding: 10px;
    }
    .headline{   
        margin: 0 50px;
    }
    
    #heading a{
        display: flex;
        flex-direction: row;
        width: 40px;
        height: 30px;
    }
    div.facebooklinkedin{    
        grid-column: 4/5;
        grid-row: 1/2;
        position: relative;
        min-width: 44px;
        margin-left: 3%;
        margin-top: 30px;
    }
    button#buttonHome{
        margin: 0;
        width: 44px;
        height: 44px; 
    }
    
    /* button#hamburgerhome{
        justify-content: end;
        display: block;
        grid-row: 1/2;
        border: solid #818783;
        background-color: #ffffe3;
        color: #283959;
        font-size: 10px;
        border-radius: 5px;
        padding: 1px;
        width: 44px;
        height: 44px;
    } */
    nav button{display: none}
    nav li{
        font-size: 28px;
        margin: 5px;
        text-decoration: none;
    }
    nav ul#primarynav{
        display: flex;
        justify-content: center;
        margin-left: 2vw;
        border-right: 1px solid rgba(40, 57, 89, 0.3);
    }
    nav ul{
        display: none;
    }
    nav ul.open{
        display: block;
    }
    nav ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    nav ul li a{
        display: block;
        padding: .8rem 2vw;
        text-decoration: none;
        color: #283959;
        border: none;
    }
    nav ul li.active a{
        background-color: rgba(255, 255, 227, 0.5);
        color: #546089;
    }
    nav ul li a:hover{
        background-color: #283959;
        color: #ffffe3;
    }
    /* nav ul {display: none;}
    nav ul.open {display: block;}
    #hamburgerhome span:nth-child(1){display: block;}
    #hamburgerhome span:nth-child(2){display: none;}
    
    #hamburgerhome.open span:nth-child(1){display:none;}
    #hamburgerhome.open span:nth-child(2){display:block;} */

    nav#menu{
        background-color: #bfa68f;
    }
    nav#navmenu{
        grid-column: 1/4;
        grid-row: 2/3;
        background-color: #bfa68f;
    }
    li.navitem{
        
        padding: 10px;
        justify-content: center;
        text-align: center;
        display: inline-flex;
    }
    li a{
        font-size: 24px;
    }
    
    form fieldset {
        width: 70%;
        grid-column: 2/3;
        font-family: 'Oswald', sans-serif;
        margin: 2rem 0;
        border: 3px solid #818783;
        border-radius: 20px;
        padding: .5rem 2%;
        box-shadow: 0 0 30px #546089;
    
    }
    
    form legend {
    
        color: #bfa68f;
        font-size: 35px;
        margin: 0 1rem;
        padding: 0.5rem;
    }
    
    form label.top,
    form div {
        justify-content: left;
        text-align: left;
        background-color: #ffffe3;
        display: block;
        padding-top: 1rem;
        color: #283959;
    }
    
    form label.top input,
    form label.top select {
        display: block;
        font-size: 1rem;
        border: solid 2px #546085;
        border-radius: 4px;
        padding: .75rem;
        width: 100%;
        max-width: 20rem;
    
    }
    
}
/* -----------------form---------- */
label#submitButton input{
    background-color: #283959;
    border:rgb(84, 96, 137);
    color: #ffffe3;
    font-family: 'Oswald', sans-serif;;
    padding: 20px;
    border-radius: 20px;
}

@media (max-width: 600px) {
    body#wrapper3{
    margin-left: 70px;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    font-family: 'Oswald', sans-serif;
    }
    main {
        grid-row: 3/4;
    }

    
    form fieldset {
        font-family: 'Oswald', sans-serif;
        margin: 2rem 0;
        border: 3px solid #546089;
        border-radius: 20px;
        padding: .5rem 2%;
        box-shadow: 0 0 30px #bfa68f;
    
    }
    
    form legend {
        font-weight: 500;
        color: #bfa68f;
        font-size: 20px;
        margin: 0 1rem;
        padding: 0.5rem;
    }
    
    form label.top,
    form div {
        justify-content: left;
        text-align: left;
        background-color: #ffffe3;
        display: block;
        padding-top: 1rem;
        color: #283959;
    }
    
    form label.top input,
    form label.top select {
        display: block;
        font-size: 1rem;
        border: solid 2px #546089;
        border-radius: 4px;
        padding: .75rem;
        width: 100%;
        max-width: 20rem;
    
    }
    
    
}

/* -----------------form---------- */