/* fonts for this site:
Headings: font-family: 'Oswald', sans-serif;
Paragraphs: font-family: 'Roboto', sans-serif; */
@media (max-width: 600px) {
    * { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

    body{
        background-color: white; 
    }
    *{  max-width: 600px;
        margin: auto;
        justify-content: center;
        text-align: center;
        padding: 5px;
        box-sizing: border-box; 
    }
    header#grid{
        background-color: #546089;
        color: #bfa68f;
        max-width: 100%;
        grid-column: 1/5;
        grid-row: 1/2;
        margin: 0 -5px;
    }
    aside {
        color: #283959;
        grid-column: 1/5;
        grid-row:2/3;
        max-width: 100%;
        min-height: 15%;
        bottom: 0;
        margin: auto;
        border: 1px solid #818783;
        background-color: #ffffe3;
        text-align: center;
        padding: 1px;
    }
    #logo {
        grid-row: 1/2;
        grid-column: 1/2;  
    }
    div#innheading{
        display: flex;
        margin-top: 50px;
        background-color: #546089;
    }
    img#logo{
        grid-column: 1/2;
        grid-row: 1/2;
        width: auto;
        border-radius: 15px;
        box-shadow: gray;
        padding: 5px 10px;
        height: 80px;
        margin-top: -15px;
        border: none;
    }
    h1.home{
        font-family: 'Oswald', sans-serif;
        justify-content: center;
        text-align: center;
        font-size: 35px;
        padding: 10px;
    }
    
    .headline{   
        margin: 0 50px;
    }
    #wrapper#heading a{
        display: flex;
        font-size: 50px;
        margin-left: 70px;
    }
    #heading a{
        font-family: 'Oswald', sans-serif;
        display: flex;
        flex-direction: row;
        min-width: 30px;
        min-height: 30px;
    }
    div.facebooklinkedin{    
        grid-column: 4/5;
        grid-row: 1/2;
        position: relative;
        max-width: 44px;
        margin-left: 15px;
    }
    button#buttonHome{
        margin: 0;
        min-width: 44px;
        min-height: 44px; 
    }
    button#hamburgerhome{
        justify-content: end;
        display: block;
        grid-row: 1/2;
        border: solid #818783;
        background-color: #ffffe3;
        color: #283959;
        border-radius: 5px;
        margin-top: 20px;
        padding: 1px;
        min-width: 44px;
        min-height: 44px;
    }
    
    nav button{
        margin: .2rem 2vw;
        background: transparent;
        border: none;
        font-size: 2rem;
        color: #283959;
    }
    ul#primarynav.navmenu{
        font-family: 'Oswald', sans-serif;
        display: block;
        justify-content: center;
        margin-left: 2vw;
        border-right: 1px solid rgba(40, 57, 89, 0.3);
    }
    nav ul#primarynav{
        font-family: 'Oswald', sans-serif;
        margin-left: 2vw;
    }
    nav ul{
        font-family: 'Oswald', sans-serif;
        display: none;
    }
    nav ul.open{
        font-family: 'Oswald', sans-serif;
        display: block;
    }
    nav ul {
        font-family: 'Oswald', sans-serif;
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    nav ul li a{
        font-family: 'Oswald', sans-serif;
        display: block;
        padding: .8rem 2vw;
        text-decoration: none;
        color: #283959;
        border-top: 1px solid rgba(40, 57, 89, 0.5);
    }
    nav ul li.active a{
        font-family: 'Oswald', sans-serif;
        background-color: rgba(255, 255, 227, 0.5);
        color: #546089;
    }
    nav ul li a:hover{
        font-family: 'Oswald', sans-serif;
        background-color: #283959;
        color: #ffffe3;
    }
    nav ul {display: none;}
    nav ul.open {display: block;}
    #hamburgerhome span:nth-child(1){display: block;}
    #hamburgerhome span:nth-child(2){display: none;}
    
    #hamburgerhome.open span:nth-child(1){display:none;}
    #hamburgerhome.open span:nth-child(2){display:block;}

   
    nav#navmenu{
        font-family: 'Oswald', sans-serif;
        grid-column: 1/4;
        grid-row: 2/3;
        background-color: #bfa68f;
    }
    li{
        font-family: 'Oswald', sans-serif;
        padding: 10px;
        justify-content: center;
        text-align: center;
        display:block;
    }
    
    h2.weddingheader{
        font-family: 'Oswald', sans-serif;
        grid-column: 1/5;
        grid-row: 1/2;
        font-size: x-large;
        color: #283959;
    }
    div.row2{
        margin: 0 auto;
        display: grid;
        grid-template-columns: 5% 45% 45% 5%;
        grid-row: auto;
        border-radius: 20px 20px 20px 20px;
        grid-gap: 15px;
    }
    button.calltoaction{
        background-color: #bfa68f;
        border-radius: 8px;
        border: gray;
        padding: 8px;
        position: relative;
    }
    section.column2-4a{
        padding: 0 150px 100px;
        max-width: 375px;
        grid-column: 1/5;
        background-image: url(../templeimages/panotemple.jpg) /*alt="wedding couple in front of LDS temple"*/;
        border: solid 3px #818783;
        border-radius: 20px;
        overflow: hidden;
    }
    section.column2-4b{
        margin: 5%;
        color: #283959;
        justify-content: center;
        text-align: center;
        max-width: 80%;
        min-height: 200px;
        grid-column: 2/5;
        background-image: url(../templeimages/templeyouth.jpg) /*alt="yw & ym on LDS treck with hand carts"*/;
        border: solid 3px #818783;
        border-radius: 20px;
    }
    section.column2c-row4{
        font-family: 'Roboto', sans-serif;
        padding: 10px;
        grid-column: 2/4;
        color:#283959;
        background-color: #ffffe3;
        border: solid 1px #818783;
        border-radius: 20px;
    }
    section.column2-4d{
        color: #283959;
        justify-content: center;
        text-align: center;
        padding: 0 80px 70px ;
        margin-top: 15px;
        grid-column: 1/5;
        max-height: 85%;
        max-width: 60%;
        background-image: url(../templeimages/singleseniors325x194.jpg) /*alt="Single Woman speaking with a Senior Woman"*/;
        border: solid 3px #818783;
        border-radius: 20px;
    }
    section.column2-4e{
        color: #283959;
        justify-content: center;
        text-align: center;
        padding: 0 70px 100px 0;
        grid-column: 1/5;
        min-height: 100%;
        max-width: 65%;
        background-image: url(../templeimages/familysilhouette325x163.jpg) /*alt="couple with 3 children silhouette"*/;
        border: solid 3px #818783;
        border-radius: 20px;
    }
    div#flexwrap{
        margin: -5px;
        display: grid;
        grid-column: 2/4;
        grid-row: 4/6;
        /* margin-left: 25px; */
    }
    section.weather{
        border: solid 3px #283959;
        border-radius: 20px;
        grid-column: 2/3;
        grid-row: 4/5;
        max-width: 95%;
        margin: 5px;
        padding: 5px 0;
        background-color: #546089;
        color:#bfa68f;
    }
    section.weatherdetails1{
        border: solid 3px #283959;
        border-radius: 20px;
        grid-column: 3/4;
        grid-row: 4/5;
        padding: 40px 50px;
        max-width: 95%;
        margin: 5px;
        margin-top: 15px;
        background-color: #546089;
        color:#bfa68f;
    }
    
    section.weatherdetails2{
        border: solid 3px #283959;
        border-radius: 20px;
        grid-column: 2/3;
        grid-row: 5/6;
        max-width: 95%;
        padding: 40px;
        margin: 5px;
        background-color: #546089;
        color:#bfa68f;
    }
    section.weatherdetails3{
        border: solid 3px #283959;
        margin: 5px;
        grid-column: 3/4;
        grid-row: 5/6;
        max-width: 95%;
        border-radius: 20px;
        padding: 40px;
        background-color: #546089;
        color:#bfa68f;
    }
    button#generate{
        background-color: #bfa68f;
        color: #283959;
        border-radius: 3px;
        padding: 1px;
    }
    button#movecurrentdatandday{
        background-color: #bfa68f;
        color: #283959;
        border-radius: 3px;
        padding: 2px;
    }
    button#collapseweather{
        background-color: #bfa68f;
        color: #283959;
        border-radius: 3px;
        padding: 2px;
    }
    footer{
        grid-column: 1/5;
        grid-row: 9/10;
        background-color: #ffffe3;
        border: 1px solid #818783;
        padding: 20px;
        margin: 0 0 0 0;

    }       
      /*SMALL TEMPLES PAGE CSS  */
      body{
        background-color: white; 
    }
    *{  max-width: 600px;
        margin: auto;
        justify-content: center;
        text-align: center;
        padding: 0;
        box-sizing: border-box; 
    }
    header#grid{
        background-color: #546089;
        color: #bfa68f;
        grid-column: 1/5;
        grid-row: 1/2;
        margin:  -15px;
    }
    aside#aside {
        color: #283959;
        grid-column: 1/5;
        grid-row:2/3;
        max-width: 100%;
        min-height: 25%;
        bottom: 0;
        margin: auto;
        border: 1px solid #283959;
        background-color: #ffffe3;
        text-align: center;
        padding: 20px;
    }
    #logo {
        grid-row: 1/2;
        grid-column: 1/2;  
    }
    img#logo{
        grid-column: 1/2;
        grid-row: 1/2;
        width: auto;
        padding: 0 10px;
        height: 80px;
        margin-top: -15px;
    }
    h1.home{
        justify-content: center;
        text-align: center;
        font-size: 30px;
        padding: 10px;
    }
    .headline{   
        margin: 0 50px;
    }
    #wrapper#heading a{
        display: flex;
        font-size: 50px;
        margin-left: 70px;
    }
    #heading a{
        display: flex;
        flex-direction: row;
        min-width: 30px;
        min-height: 30px;
    }
    section.facebooklinkedIn{    
        grid-column: 4/5;
        grid-row: 1/2;
        position: relative;
        max-width: 44px;
        margin-left: 15px;
    }
    button#buttonHome{
        margin: 0;
        width: 44px;
        height: 44px; 
    }
    button#hamburgerhome{
        justify-content: end;
        display: block;
        grid-row: 1/2;
        border: solid #818783;
        background-color: #ffffe3;
        color: bold #283959;
        font-size: 10px;
        border-radius: 5px;
        margin-top: 20px;
        padding: 1px;
        width: 35px;
        height: 35px;
    }
    nav#menu{
        display: block;
        background-color: #bfa68f;
    }
    nav#navmenu{
        grid-column: 1/4;
        grid-row: 2/3;
        background-color: #bfa68f;
    }
    li{
        border: solid 1px #283959;
        font-size: 44px;
        padding: 10px;
        justify-content: center;
        text-align: center;
    }
    
    /* TEMPLES PAGE SMALL VIEW */
    /* small view */
    /* RESERVATIONS PAGE SMALL VIEW*/  
}

