@media (max-width: 600px) {

    body{
        background-color: white; 
    }
    *{  max-width: 600px;
        margin: auto;
        justify-content: center;
        text-align: center;
        padding: 0;
        box-sizing: border-box; 
    }
    header#grid{
        background-color: #546089;
        color: #bfa68f;
        grid-column: 1/5;
        grid-row: 1/2;
        margin:  -5px;
    }
    aside {
        color: #283959;
        grid-column: 1/5;
        grid-row:2/3;
        max-width: 100%;
        min-height: 15%;
        bottom: 0;
        margin: auto;
        border: 1px solid #818783;
        background-color: #ffffe3;
        text-align: center;
        padding: 1px;
    }
    #logo {
        grid-row: 1/2;
        grid-column: 1/2;  
    }
    div#innHeading{
        display: flex;
        margin-top: 30px;
    }
    img#logo{
        grid-column: 1/2;
        grid-row: 1/2;
        width: auto;
        padding: 0 10px;
        height: 80px;
        margin-top: -15px;
    }
    h1.home{
        justify-content: center;
        text-align: center;
        font-size: 35px;
        padding: 10px;
    }
    
    .headline{   
        margin: 0 50px;
    }
    #wrapper#heading a{
        display: flex;
        font-size: 50px;
        margin-left: 70px;
    }
    #heading a{
        display: flex;
        flex-direction: row;
        min-width: 30px;
        min-height: 30px;
    }
    section.facebookLinkedIn{    
        grid-column: 4/5;
        grid-row: 1/2;
        position: relative;
        max-width: 44px;
        margin-left: 15px;
    }
    button#buttonHome{
        margin: 0;
        width: 44px;
        height: 44px; 
    }
    button#hamburgerHome{
        justify-content: end;
        display: block;
        grid-row: 1/2;
        border: solid #818783;
        background-color: #ffffe3;
        color: bold #283959;
        font-size: 10px;
        border-radius: 5px;
        margin-top: 20px;
        padding: 1px;
        width: 35px;
        height: 35px;
    }
    nav#menu{
        display: none;
        background-color: #bfa68f;
    }
    nav#nav-menu{
        grid-column: 1/4;
        grid-row: 2/3;
        background-color: #bfa68f;
    }
    li.nav-item{
        padding: 10px;
        justify-content: center;
        text-align: center;
        display: inline-flex;
    }
    main{
        background-color: white;
    }
    h2.weddingHeader{
        grid-column: 1/5;
        grid-row: 1/2;
        font-size: x-large;
        color: #283959;
    }
    div.row2{
        margin: 0 auto;
        display: grid;
        grid-template-columns: 5% 45% 45% 5%;
        grid-row: auto;
        border-radius: 20px 20px 20px 20px;
        grid-gap: 15px;
    }
    button.callToAction{
        background-color: #bfa68f;
        border-radius: 8px;
        border: gray;
        padding: 8px;
        position: relative;
    }
    section.column2-4a{
        margin: 0 15%;
        padding: 0 150px 100px;
        max-width: 400px;
        grid-column: 1/5;
        background-image: url(../templeImages/panoTemple.jpg) /*alt="wedding couple in front of LDS temple"*/;
        border: solid 3px #818783;
        border-radius: 20px;
        overflow: hidden;
    }
    section.column2-4b{
        margin: 5%;
        color: #283959;
        justify-content: center;
        text-align: center;
        max-width: 80%;
        min-height: 200px;
        grid-column: 2/5;
        background-image: url(../templeImages/templeYouth.jpg) /*alt="yw & ym on LDS treck with hand carts"*/;
        border: solid 3px #818783;
        border-radius: 20px;
    }
    section.column2c-row4{
        margin: 0 23%;
        padding: 10px;
        grid-column: 1/5;
        color:#283959;
        background-color: #ffffe3;
        border: solid 1px #818783;
        border-radius: 20px;
    }
    section.column2-4d{
        color: #283959;
        justify-content: center;
        text-align: center;
        padding: 0 80px 70px ;
        margin-top: 15px;
        grid-column: 1/5;
        max-height: 85%;
        max-width: 60%;
        background-image: url(../templeImages/single-seniors325x194.jpg) /*alt="Single Woman speaking with a Senior Woman"*/;
        border: solid 3px #818783;
        border-radius: 20px;
    }
    section.column2-4e{
        color: #283959;
        justify-content: center;
        text-align: center;
        padding: 0 70px 100px 0;
        grid-column: 1/5;
        min-height: 100%;
        max-width: 65%;
        background-image: url(../templeImages/familySilhouette325x163.jpg) /*alt="couple with 3 children silhouette"*/;
        border: solid 3px #818783;
        border-radius: 20px;
    }
    div#flex-wrap{
        display: grid;
        grid-column: 2/4;
        grid-row: 4/6;
        /* margin-left: 25px; */
    }
    section.weather{
        border: solid 3px #283959;
        border-radius: 20px;
        grid-column: 2/3;
        grid-row: 4/5;
        max-width: 95%;
        margin: 5px;
        padding: 5px 0;
        background-color: #546089;
        color:#bfa68f;
    }
    section.weatherDetails1{
        border: solid 3px #283959;
        border-radius: 20px;
        grid-column: 3/4;
        grid-row: 4/5;
        padding: 40px 50px;
        max-width: 95%;
        margin: 5px;
        margin-top: 15px;
        background-color: #546089;
        color:#bfa68f;
    }
    
    section.weatherDetails2{
        border: solid 3px #283959;
        border-radius: 20px;
        grid-column: 2/3;
        grid-row: 5/6;
        max-width: 95%;
        padding: 40px;
        margin: 5px;
        background-color: #546089;
        color:#bfa68f;
    }
    section.weatherDetails3{
        border: solid 3px #283959;
        margin: 5px;
        grid-column: 3/4;
        grid-row: 5/6;
        max-width: 95%;
        border-radius: 20px;
        padding: 40px;
        background-color: #546089;
        color:#bfa68f;
    }
    button#moveCurrentDateAndDay{
        background-color: #bfa68f;
        color: #283959;
        border-radius: 3px;
        padding: 2px;
    }
    button#collapseWeather{
        background-color: #bfa68f;
        color: #283959;
        border-radius: 3px;
        padding: 2px;
    }
    footer{
        grid-column: 1/5;
        grid-row: 9/10;
        background-color: #ffffe3;
        border: 1px solid #818783;
        padding: 20px;
        margin: 0 0 0 0;

    }            
}

