main{
    margin: 25%;
    margin-top: 50px;
}
body{
    background-color: blue;
}
h1{ 
    margin-left: -50px;
    color: gray;
    font-size: 45px;
    text-align: center;
}
h2, h3{
    color: gray;
    font-size: 35px;
    text-align: left;

}

span{
    font-size: 30px;
    color: white;    
    justify-content: center;
    text-align: center;
}

p{
    font-size: 20px;
    text-align: left;
    color: white;
}

img{
    margin: 0 0 -5 0;
}